@font-face {
    font-family: "LXGWWenKai";
    src: url("/fonts/lxgw-wenkai/LXGWWenKai-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "LXGWWenKai";
    src: url("/fonts/lxgw-wenkai/LXGWWenKai-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LXGWWenKai";
    src: url("/fonts/lxgw-wenkai/LXGWWenKai-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LXGWWenKai Mono";
    src: url("/fonts/lxgw-wenkai/LXGWWenKaiMono-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "LXGWWenKai Mono";
    src: url("/fonts/lxgw-wenkai/LXGWWenKaiMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LXGWWenKai Mono";
    src: url("/fonts/lxgw-wenkai/LXGWWenKaiMono-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "LXGWWenKai", sans-serif;
}

code {
    font-family: "LXGWWenKai Mono", monospace;
}